#projectDisplayerMiddle{
	flex-wrap: wrap;
}
#descriptionContainer{
	margin : 10px 20px 0 20px;
}
.projectDisplay{
	width: 300px;
	margin : 20px;
}
#projects{
    padding: 30px 30px 60px 30px;
}
#informations{
    padding: 20px;
}
#informations p{
    margin : 20px auto;
    font-size : 15pt;
}


#history{
    padding : 20px 5px;
}
.historyElement{
    justify-content: flex-start;
    padding : 0 0 0 10px;
}
.historyBar{
    margin : 0 0 0 8px;
}
.dateLeft{
    transform: translate(24px, -10px);
}
.eventLeft{
    transform: translate(24px, 14px);
}
.dateRight{
    transform: translate(24px, -10px);
}
.eventRight{
    transform: translate(24px, 14px);
}
@keyframes dateLeft{
    0%{transform: translate(calc(200% + 14px), -10px); opacity: 0;}
    100%{transform: translate(24px, -10px); opacity: 1}
}
@keyframes dateRight{
    0%{transform: translate(calc(200% + 14px), -10px); opacity: 0;}
    100%{transform: translate(24px, -10px); opacity: 1}
}
@keyframes eventLeft{
    0%{transform: translate(calc(200% + 14px), 14px); opacity: 0;}
    100%{transform: translate(24px, 14px); opacity: 1}
}
@keyframes eventRight{
    0%{transform: translate(calc(200% + 14px), 14px); opacity: 0;}
    100%{transform: translate(24px, 14px); opacity: 1}
}
.historyLast{
    text-align: left;
}