:root{
    --green-middle : #085648;
    --green-dark : #0a3339;
}
@font-face {
    font-family: "Trebuchet MS";
    src: url(../fonts/trebuchet_ms.ttf) format('truetype');
    font-weight : normal;
    font-style : normal;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", serif;
    position: relative;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

nav{
    position : fixed;
    left : 0;
    top : 0;
    bottom: 0;
    z-index : 10;
    background-color : var(--green-middle);
    width : 150px;
    box-sizing: border-box;
    padding: 50px 0;
    transition: 0.3s transform;
}
#nav-button-open-close{
    position: fixed;
    width : 40px;
    height: 40px;
    cursor : pointer;
    left : 150px;
    top : 0;
}
.bar{
    background-color: var(--green-middle);
    left: 20%;
    right: 20%;
    height: 2px;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s transform, 0.3s top;
    transform-origin: 50% 50%;
}
#bar1{
    top: 25%;
    transform: translate(0, -50%);
}
#bar2{
    top: 50%;
    transform: translate(0, -50%);
}
#bar3{
    top: 75%;
    transform: translate(0, -50%);
}
#bar1Open{
    top : 50%;
    transform: rotate(45deg) translate(0, -50%) scale(1.2);
}
#bar3Open{
    top : 50%;
    transform: rotate(-45deg) translate(0, -50%) scale(1.2);
}
#bar2Open{
    top : 50%;
    transform: translate(0, -50%) scale(0);
}
.translateShow{
    transform: translate(150px, 0);
    opacity: 0.3;
}
.translateHide{
    transform: translate(-150px, 0);
}
.navItem{
    box-sizing: border-box;
    color : white;
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    transition: 0.5s;
    position: relative;
}
.navItem::after{
    content : "";
    position: absolute;
    background-color: white;
    right : 0;
    left : 100%;
    height : 2px;
    bottom : 0;
    transition: 0.5s;
    border-radius: 5px 0 0 5px;
}
.navItem:hover{
    padding : 15px 5px 15px 40px;
}
.navItem:hover::after{
    left : 20%;
}
#banner{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #0f7755;
}
#banner .bannerImg{
    width: 100%;
    height: 100vh;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center bottom;
    position: absolute;
}
#banner .bannerImg:nth-child(7){
    background-image: url(../images/banner/first.png);
    z-index: 3;
}
#banner .bannerImg:nth-child(6){
    background-image: url(../images/banner/second.png);
    z-index: 2;
}
#banner .bannerImg:nth-child(5){
    background-image: url(../images/banner/three.png);
}
#banner .bannerImg:nth-child(4){
    background-image: url(../images/banner/four.png);
}
#banner .bannerImg:nth-child(3){
    background-image: url(../images/banner/five.png);
}
#banner .bannerImg:nth-child(2){
    background-image: url(../images/banner/six.png);
}
#banner .bannerImg:nth-child(1){
    background-image: url(../images/banner/seven.png);
}
#banner h1{
    position: absolute;
    transform: scale(1) translate(-50%, 0);
    opacity: 0;
    left : 50%;
    top: 10%;
    animation: opacityShow 3s linear forwards;
    transform-origin: 0 center;
    font-size: 50px;
    color : white;
    text-align: center;
    z-index: 1;
}
#container{
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: 0.4s transform;
}
#subContainer{
    transition : 0.3s transform, 0.3s opacity;
}
@keyframes opacityShow{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 50px;
    box-sizing: border-box;
    background-color: var(--green-dark);
    position: relative;
    min-height: 100vh;
    align-items: center;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center bottom;
    background-image: url(../images/banner/project.png);
}
#projects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-item{
    width: 300px;
    height: 300px;
    position: relative;
    cursor: pointer;
    margin: 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s width, 0.2s transform;
    z-index : 1;
    overflow: hidden;
    opacity: 0;
}
.project-item-picture-container{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item:hover{
    width: 350px;
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
}
.project-item:hover .project-item-members{
    transform: translate(0, 0);
}
.project-item-members{
    width: 50px;
    background-color: white;
    position: absolute;
    right: 0;
    top : 0;
    height: 100%;
    transform: translate(100%, 0);
    transition: 0.2s;
}
.project-item-member-container{
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 4px;
}
.project-item-member{
    width: 50px;
    height: 50px;
    position: relative;
}
.project-item-member-picture-container{
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.project-item-member-container:hover{
    box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
    z-index: 5;
}
.project-item-member-container img{
    transition: 0.2s;
}
.project-item-member-container:hover img{
    transform: scale(1.3);
}
.infobulle-left{
    position: absolute;
    color : white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
    z-index: 4;
    padding: 10px 20px;
    text-align: center;
    transition: 0.3s;
    top: 50%;
    right: 0;
    width: 150px;
    transform: translate(100%, -50%);
    transform-origin: right center;
}
.project-item-member:hover .infobulle-left{
    transform: translate(-50px, -50%);
}
.project-item-date{
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 9pt;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.7);
    opacity: 0;
    transition: 0.3s;
}
.project-item:hover .project-item-date{
    left: 5px;
    opacity: 1;
}
.project-item-name{
    position: absolute;
    left: 50%;
    bottom: 5px;
    border-radius: 15px;
    font-size: 15pt;
    padding: 8px 10px;
    background-color: rgba(0,0,0,0.4);
    color: rgba(255,255,255,0.9);
    opacity: 0;
    transition: 0.2s;
    transform: translate(-50%, 0);
}
.project-item:hover .project-item-name{
    left: calc(50% - 25px);
     opacity: 1;
 }
#project-fullscreen{
    top : 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
    position: fixed;
    z-index: 20;
    background-color: var(--green-dark);
    transform: translate(0, -100%);
    display: flex;
    justify-content: center;
}
@keyframes projectShow{
    0%{
        transform: translate(0, -100%);
    }
    100%{
        transform: translate(0, 0);
    }
}
@keyframes projectHide{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(0, 100%);
    }
}
.project-popup-sub-container{
    width: 100%;
}
#popup-sub-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px 20px;
}
.project-popup-sub-container{
    width: 100%;
}
.overflow-hidden{
    overflow: hidden;
}
#cross-container{
    z-index: 15;
    position: absolute;
    left: 5%;
    top : 5%;
    width: 51px;
    height: 51px;
    cursor: pointer;
    transform: rotate(45deg);
}
#cross-container::before, #cross-container::after{
    border-radius: 3px;
    content: "";
    top : 50%;
    left: 50%;
    position: absolute;
    background-color: var(--green-middle);
    transform: translate(-50%, -50%);
}
#cross-container::before{
    width: 100%;
    height: 6px;
}
#cross-container::after{
    height: 100%;
    width: 6px;
}
#popup-sub-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px 20px;
}
#popup-left-container{
    width: 350px;
    height: auto;
    margin: 1px;
}
#popup-picture-container{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
#popup-links-container{
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 10px 2px rgba(0,0,0,0.3);
}
#popup-links-container, #popup-members-container{
    display: flex;
    justify-content: flex-end;
    background-color: white;
}
.popup-link, .popup-member{
    transition: 0.2s;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}
.popup-link-picture{
    width: 80%;
    height: 80%;
    transition: 0.2s;
    filter: grayscale(100);
}
.popup-link-picture-container, .popup-member-picture-container{
    overflow: hidden;
    border-radius: 50%;
    height: 90%;
    width: 90%;
}
.popup-link:hover{
    z-index: 5;
    transform: scale(1.1);
    box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
}
.popup-link:hover .popup-link-picture{
    filter : grayscale(0);
}
.popup-link:hover .infobulle-bottom, .popup-member:hover .infobulle-bottom{
    transform: translate(-50%, 30%) scale(1);
}
.popup-member:hover .popup-member-picture{
    transform: scale(1.4);
}
.popup-member-picture{
    transform: scale(1);
    transition: 0.2s;
}
.infobulle-bottom{
    position: absolute;
    z-index : 15;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    left : 50%;
    top : 100%;
    transform: translate(-50%, 20%) scale(0);
    transition: 0.2s;
    color : white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}
.infobulle-bottom::before{
    content : "";
    top : 0;
    position: absolute;
    z-index : 20;
    left : 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -100%);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgba(0,0,0,0.7) transparent;
}
#popup-right-container{
    width: 800px;
    min-height: 450px;
    max-width: 100%;
    margin: 1px;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: white;
}
#popup-title{
    font-size: 35pt;
    text-align: center;
    color: var(--green-dark);
}
#popup-text{
    font-size: 18pt;
    color: var(--green-dark);
}
#members{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 50px;
    box-sizing: border-box;
    background-color: var(--green-middle);
    position: relative;
    min-height: 100vh;
    align-items: center;
}
#members-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.member-item{
    width: 250px;
    margin: 5px 10px;
    box-sizing: border-box;
    transition: 0.2s;
    z-index: 1;
    position: relative;
    opacity: 0;
}
.member-item-picture-container{
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 4;
}
.member-item-picture-container img{
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}
.member-item-name{
    background-color: var(--green-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 50px;
    font-size: 18pt;
    color : white;
}
.member-item:hover{
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
}
#member-links-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    position: absolute;
    z-index: 3;
    box-shadow: 0 1px 10px 2px rgba(0,0,0,0.3);
    bottom: 50px;
    transition: 0.2s;
}
.member-item:hover #member-links-container{
    transform: translate(0, 100%);
}
#member-links-container:hover{
    z-index: 5;
}
#popup-languages-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0 0 0;
}
.popup-language-container{
    width: 130px;
    height: 130px;
    filter: grayscale(100);
    transition: 0.2s;
    background-color: white;
    z-index: 1;
}
.popup-language-container:hover{
    transition: 0.2s filter, 0.2s transform, 0.2s box-shadow;
    transform: scale(1.2);
    filter: grayscale(0);
    z-index: 2;
    box-shadow: 0 6px 10px 2px rgba(0,0,0,0.3);
}
.popup-language-picture-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.popup-language-name{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
}
#nav-rounds{
    position: fixed;
    top : 50%;
    right: 2%;
    transform: translate(0, -50%);
    z-index: 10;
}
.round-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 8px 0;
    transform: scale(0.5);
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.1s;
}
